.btn-add {
	cursor: pointer;
	display: block;
	border-radius: 4px;
	width: 100%;
	min-width: 240px;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	color: #525252;
	margin: 0;
	padding: 15px 20px;
	letter-spacing: 1px;
	box-shadow: 0 0 0 1px currentColor;
}
