.secondary-modal {
	min-width: 250px;
	position: absolute;
	background-color: #f1f1f1;
	padding: 10px;
	padding-bottom: 15px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	z-index: 1000000000;
	box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
		0 0 0 1px rgba(9, 30, 66, 0.08);
}

.secondary-modal-header {
	white-space: nowrap;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.secondary-modal-body {
	margin-bottom: 30px;
}

.secondary-modal-body-item {
	margin-bottom: 10px;
}

.secondary-modal-body-select {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
