body {
	margin: 0;
	background-image: url('./assets/images/bg.jpg');
	background-color: rgb(132, 132, 132);
	background-size: cover;
	background-position: center;
	font-family: 'Noto Sans', sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow-y: hidden;
}

* {
	box-sizing: border-box;
}

.container {
	height: 100vh;
	padding: 10px;
}

.row {
	display: flex;
	align-items: flex-start;
	height: 100%;
}
